body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px; /* Adjust the width as needed */
}

.dropzone {
  border: 2px dashed #cccccc;
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: #fafafa;
}

.dropzone p {
  margin: 0;
  color: #666666;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: block; /* Ensure the button is a block element */
  margin: 0 auto; /* Center the button horizontally */
}

button:hover {
  background-color: #0056b3;
}

.uploaded-file {
  margin-top: 20px;
  font-weight: bold;
}

.labels {
  margin-top: 20px;
}

.labels h3 {
  margin-bottom: 10px;
}

.labels ul {
  list-style-type: none;
  padding: 0;
}

.labels li {
  background-color: #e9ecef;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}